:root {
  --bgColor: rgb(24, 24, 24);
  --primary: rgb(34, 34, 34);
  --secondary: #222222;
  --textColor: rgb(248, 246, 246);
  --action: #383737;
}

* {
  margin: 0;
  padding: 0;

  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: var(--bgColor);
}

header {
  border-radius: 5px;

  font-size: 1.4rem;
  padding-top: 10px;
  color: var(--textColor);
  text-align: center;
  margin-bottom: 10px;
}

header h3 {
  margin-top: -10px;
}

.var-container {
  display: flex;
  align-items: center;
  position: sticky;
  top: 15px;
  background-color: rgb(34, 34, 34);
  margin: 0px 10px;
  padding: 10px 5px;
  border-radius: 10px;
}

#addDrop {
  text-align: center;
  padding: 0px 10px;
  border-radius: 100%;
  border: 0.5px solid black;
  font-size: 30px;
  background-color: rgb(61, 61, 61);
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
  transition: ease-in-out all 0.3s;
}

#addDrop:hover {
  background-color: var(--action);
}

.var-container select {
  text-align: center;
  width: 100%;
  padding: 10px 10px;
  border-radius: 20px;
  border: 0.5px solid black;
  background-color: var(--action);
  color: var(--textColor);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
}

#team-container {
  height: 100vh;
}

.dropdown-container {
  display: flex;
  padding-right: 5px;
  gap: 10px;
}

.dropdown-container div {
  max-width: 150px;
}

.team-container {
  padding: 5px;

  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  flex-wrap: wrap;

  row-gap: 190px;
}

.team-obj-container {
  color: var(--textColor);
  border-radius: 6px;
  box-shadow: 1px 1px 10px #1a1919;

  min-width: 300px;
  height: fit-content;
  background-color: var(--secondary);
}

.team-obj-container .name {
  font-size: 1.5rem;
  font-weight: bold;
}

.team-obj-container .number {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  color: rgba(255, 255, 255, 0.514);
  letter-spacing: 3px;
}

.team-obj-container .score {
  font-size: 1.5rem;
  margin-left: auto;
}

.team-container .top {
  display: flex;
}

.team-container .moreBtn {
  color: black;
  background: linear-gradient(to right, blue, red);
  border-radius: 2px;
  text-align: center;
}

.team-container .sep {
  padding: 5px 6px;
}

.team-container .extras {
  transition: all ease-in-out 0.5s;
  height: 0;
  overflow-y: hidden;
  color: rgb(209, 203, 203);
}

.team-container:hover .extras {
  height: fit-content;
}

.container {
  display: flex;
  gap: 30px;
  width: 100%;
}

.cont-rounds {
  flex-direction: column;
  justify-content: center;

  flex: 1;
  display: flex;
}
.round {
  border: 2px solid;
  padding: 10px 10px;
  border-radius: 5px;
}
.cont-stats {
  flex: 1;
}
.team-obj-container .container h2 {
  color: rgb(209, 203, 203);
  margin-bottom: 20px;
}
